
.header {
    height: 120px;
    background-image: linear-gradient(0, #ff6733, #f53c2e)
}


.navbar__lists{
    padding-left: 0;
    list-style: none;
    margin: 0;
    display: flex;
}

.navbar__item {
    margin: 4px 8px;
    position: relative;
}
.navbar__item,
.navbar__links {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 250;
}

.navbar__item:hover,
.navbar__links:hover,
.navbar__icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}



.navbar__item--has-qr:hover .navbar__qr {
    display: block;
}

.navbar__item-has-notify:hover .navbar__notify {
    display: block;
}

.navbar__item--strong {
    font-weight: 450;
}

.navbar__item--separate::after {
    content: '';
    display: block;
    border-left: 1px solid #f96d5c;
    height: 12px;
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__item-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__item-user:hover .navbar__user-notify-list {
 display: block;
}

.navbar__item-user::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 100%;
}


.navbar__item-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__item-name {
    font-weight: 400;
}

.navbar__user-notify-list {
    background-color: var(--white-color);
    position: absolute;
    width: calc(100% + 36px);
    top: calc(100% + 9px);
    right: 0;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) ;
    animation: fadeIn ease-in 0.15s;
    z-index: 1;
    list-style: none;
    padding-left: 0;
    display: none;
}

.navbar__user-notify-list::after {
    content: "";
    border-width: 12px 18px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: calc(100% - 181px);
    right: 26px;
    display: block;
    border-style: solid;
}

.navbar__user-notify-item:first-child,
.navbar__user-notify-item:last-child {
    border-radius: 2px;
}

.navbar__user-notify-item.navbar__user-notify-item--light {
    color: #5DB85D;
}


.navbar__user-notify-item {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 450;
    padding: 12px;
    
}

.navbar__user-notify-item:hover {
    background-color: #f8f8f8;
}

.navbar__icon-link {
    color: var(--white-color);
}

.navbar__icon {
    font-size: 1.6rem;
    margin: 0 4px;
}
.navbar__title--text-no {
    color: var(--white-color) !important;
    cursor: text;
}
/* Navbar QR */

.navbar__qr {
    background-color: var(--white-color);
    position: absolute;
    width: 186px;
    top: 160%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.15s;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar__qr::before {
    content: "";
    display: block;
    width:100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: -19px;
}

.navbar__qr-img {
    width:100%;
 
}

.navbar__qr-link:first-child {
    margin-left: 11px;
}

.navbar__qr-link:nth-child(2) {
    margin-right: 11px;
}

.navbar__qr-app {
    height: 16px;
}

/* Navbar notify */

.navbar__notify{
    width: 404px;
    position: absolute;
    right: 0;
    top: 143%;
    color: #b8b4b4;
    background-color: var(--white-color);
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    transform-origin: 90% top;
    animation: navNotify ease-in 0.15s;
    will-change: opacity, transform;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.navbar__notify::before {
    content: "";
    border-width: 14px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -24px;
    right: 6px;
}

.navbar__notify::after {
    content: "";
    display: block;
    height: 20px;
    width: 80px;
    position: absolute;
    top: -20px;
    right:0;
}

@keyframes navNotify {
    from {
        opacity:0;
        transform: scale(0);
    }
    to {
        opacity:1;
        transform: scale(1);
    }
}

.navbar__notify-header{
    padding: 10px 12px;
    line-height: 16px;
    font-weight: 400;
    cursor: default;
}

.navbar__notify-list{
    padding: 0;
    list-style: none;
}

.navbar__notify-item{
    background-color: rgba(238, 77, 45, 0.01);
}

.navbar__notify-item:hover {
    background-color: rgb(243, 243, 243);
}

.navbar__notify-link {
    padding: 0 12px;
    display: flex;
    text-decoration: none;
    
}

.navbar__notify-img {
    width: 48px;
    object-fit: contain;
}

.navbar__notify-body{
    margin-left: 10px;
}

.navbar__notify-body-title{
    color: rgb(41, 40, 40);
    font-size: 1.4rem;
    font-weight: 350;
    margin: 10px 0;

}

.navbar__notify-body-decr{
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 10px 0;
}

.navbar__notify-footer {
    text-align: center;
}

.navbar__notify-footer-link {
    text-decoration: none;
    color: var(--text-color);
}

.navbar__notify-footer p {
    margin: 0;
    padding: 8px;
}

/* authen form */

.auth-form {
    padding: 34px 32px;
    width: 500px;  
}

.auth-form__header {
    margin: 0;
}

.auth-form__heading {
    font-size: 2.2rem;
    color: var(--text-color);
    margin: 0;
    font-weight: 400;
}

.auth-form__group-input {
    width: 100%;
    height: 40px;
    margin-top: 32px;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 2px 18px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__group-input:focus {
    border: 1px solid #aaa;
}

.auth-form__btn {
    margin-top: 32px;
}

.auth-form__line-or {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.auth-form__line-straight {
    width: 100%;
    height: 0.5px;
    background-color: var(--border-color);
}

.auth-form__line-text {
    padding: 0 16px;
    color: var(--sub-text-color);
    text-transform: uppercase;
    font-size: 1.4rem;
}

.auth-form__socials {
    margin-top: 32px;
}

.btn--with-icon {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form__socials-icon {
    display: inline-block;
    padding-right: 8px;
    font-size: 2.4rem;
}

.auth-form__social-text {
    font-size: 1.4rem;
}

.auth-form__policy {
    margin-top: 32px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.auth-form__policy-text {
    margin: 0;
}

.auth-form__policy-text-link {
    text-decoration: none;
    color: var(--primary-color);
    user-select: none;
}

.auth-form__footer {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 32px;
}

.auth-form__footer-text {
    color: var(--sub-text-color);   
}

.auth-form__footer-switch {
    text-decoration: none;
    color: var(--primary-color);
}
/* login */
.btn--primary-login {
    flex-grow: 1;
}

.auth-form__aside-link {
    font-size: 1.2rem;
    color: #05a;
    text-decoration: none;
    line-height: 3rem;
}


/* header-with-search */

.header-with-search {
    display: flex;
    height: var(--heigh-header-search);
    align-items: center;
}

.header__logo {
    width: 202px;
    padding: 0 46px 0 8px;
    
}

.header__search {
    display: flex;
    flex: 1;
    height: 40px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    align-items: center;
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

.header__search-input {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    padding: 0 14px;
    outline: none;
    border-radius: 3px;
    border: none;   
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__cart {
    width: 174px;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
}

.header__cart-wrap {
    position: relative;
    padding: 0 12px;
    display: inline-block;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-notify {
    display: block;
}

.header__cart-link {
    text-decoration: none;
    color: var(--white-color);
    
}

.header__cart-notify {
    width: 400px;
    right: -2px;
    top: calc(100% + 9px);
    position: absolute;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) ;
    display: none;
    animation: fadeIn ease-in 0.15s;
    z-index: 1;
}

.header__cart-notify::after {
    border-style: solid;
    border-width: 20px 26px;
    border-color: transparent transparent var(--white-color) transparent;
    content: "";
    position: absolute;
    right: 1px;
    top: -30px;
}

.header__cart--no-notify .header__cart-no-img,
.header__cart--no-notify .header__cart-no-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-img {
    display: none;
    width: 50%;
}

.header__cart-no-text {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 10px 0 0 25px;
    text-align: center;
}

.header__cart--no-notify {
    padding: 24px 0;
    cursor: default;
}

.header__search-select {
    width: 148px;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.header__search-select::after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 100%;
    top: 100%;
}

.header__search-select-list {
    z-index: 1;
}

.header__search-select:hover .header__search-select-list{
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    padding: 0 15px;
    color: var(--text-color);
    border-left: 1px solid var(--border-color);
    line-height: 28px; 
}

.header__search-select-icon {
    font-size: 1.4rem;
    padding-right: 10px;
    color: #b8b4b4;
}

.header__search-btn {
    outline: none;
    height: 34px;
    width: 60px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    margin: 2px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select-list {
    position: absolute;
    width: calc(100% + 10px);
    background-color: var(--white-color);
    top: calc(100% + 4px);
    right : 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    display: none;
}

.header__search-select-item {
    font-size: 1.4rem;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    color: var(--text-color);
    border-radius: 2px;
    animation: fadeIn ease-in 0.15s;
    position: relative;
}

.header__search-select-item:hover {
    background-color: rgb(241, 241, 241);
}

.header__search-select-check {
    position: absolute;
    right: 5px;
    top: 30%;
    color: var(--primary-color);
}

 /*header search input History  */

.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    margin:0;
    box-shadow: 0 3px 5px var(--border-color);
    list-style: none;
    padding: 0;
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    height: 38px;
    padding: 0 12px;
    margin: 0;
    line-height: 38px;
    font-size: 1.4rem;
    color: var(--border-color);
    font-weight: 400;
}

.header__search-history-item {
    height: 36px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: rgb(247, 247, 247);
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 36px;
    color: var(--text-color);
}

.header__cart-number {
    position: absolute;
    background: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 1.3rem;
    width: 20px;
    border-radius: 10px;
    top: -4px;
    right: 2px;
    line-height: 14px;
}

.header__cart-header {
    text-align: left;
    color: #7a7979;
    font-size: 1.3rem;
    padding: 12px 0 12px 12px;
    font-weight: 350;
    margin: 0;
}

.header__cart-list {
    width: 100%;
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    margin: 0;
    height: 52vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
    padding: 12px;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-info {
    width: 100%;
}

.header__cart-item-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__cart-item-head {
    font-size: 1.4rem;
    margin: 0;
    padding: 0 32px 0 8px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    flex: 1;
}

.header__cart-item-price {
    font-size: 1.4rem;
    color:var(--primary-color);
}

.header__cart-item-X {
    color: #757575;
    font-size: 1rem;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-decr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__cart-item-decr-text {
    font-size: 1.2rem;
    margin: 0;
    padding: 8px;
    font-weight: 400;
    color: var(--sub-text-color);
}

.header__cart-item-remove {
    font-size: 1.2rem;
    color:var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 12px;
    padding: 0 8px 0;
}


/* App content */

.app__container {
    background-color: #f5f5f5 ;
}

.app__content {
    padding-top: 20px;
}

.app__back-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    cursor: pointer;
    text-transform: uppercase;
    padding-top: 20px;
    display: flex;
}

.app__back-icon {
    font-size: 1.6rem;
    padding-right: 6px;
    font-weight: 300;
}


.category {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 0 20px 0 20px;
}

.category__heading {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-transform: uppercase;
    padding: 14px 0 18px 0;
    margin: 0 ;
}

.category__heading-icon {
    margin-right: 4px;
}

.category-list {
    list-style: none;
    padding: 0 0 40px 0;
}

.category-item {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}


.category-item--active .category-item-link {
    color: var(--primary-color);
}

.category-item-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    cursor: pointer;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item-link:hover {
    right: -2px;
}
.category-item:last-child {
    border-bottom: unset;
}


.home-filter {
    padding: 13px 20px;
    background-color: #EDEDED;
    display: flex;
    border-radius: 2px;  
    align-items: center;
    padding: 14px 20px;
}

.home-filter-sort {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 10px;
    border: unset;
}


.home-filter__page {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.home-filter__page-current {
    margin-right: 22px;
    font-size: 1.4rem;
}

.home-filter__page-current-num {
    color: var(--primary-color);
}

.home-filter__control {
    display: flex;
    width: 72px;
    height: 34px;
}

.home-filter__control-link {
    flex: 1;
    display: flex;
    text-decoration: none;
    color:#555;
    border: 1px solid #F5F5F5;
    border-radius: 2px;
}
.home-filter__control-link--default {
    background-color: #f9f9f9;
    color: #D4D4D4;
    cursor: default;
}

.home-filter__control-icon {
    margin: auto;
}

.home-filter__control-link:first-child {
    border: 1px solid #f8f8f8;
}

/*  */


.home-product {
    margin-top: 10px;
}

.home-product-item {
    background-color: var(--white-color);
    position: relative;
    display: block;
    text-decoration: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}



.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px) ;
}

.home-product-item__img {
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-product-item__body {
    padding: 10px;
}

.home-product-item__name {
    font-size: 1.2rem;
    color: rgba(0,0,0,.87);
    cursor: pointer;
    line-height: 14px;
    margin: 0 0 4px 0;
    height: 28px;
    font-weight: 400;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__deal {
    font-size: 1rem;
    color: var(--primary-color);
    padding: 4px 2px;
    border: 1px solid var(--primary-color);
    display: inline-block;
    line-height: 100%;
    cursor: default;
}

.home-product-item__price {
    display: flex;
    height: 2.9rem;
    align-items: center;
    padding-top:5px;
    cursor: pointer;
    font-size: 1.4rem;
}

.home-product-item__price-old {
    color:rgba(0, 0, 0, 0.54);
    margin-right: 5px;
    text-decoration: line-through;
    font-size: 1.3rem;
}

.home-product-item__price-current {
    color:var(--primary-color);
    flex: 1;
}

.home-product-item__price-icon {
    color: #03BFA5;
}

.home-product-item__action {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.home-product-item__heart {
    flex: 1;
    display: flex;
    color:rgba(0, 0, 0, 0.35);
    line-height: 16px;
    align-items: center;
}



.home-product-item__heart--liked .home-product-item__heart-icon-empty {
    display: none;
}

.home-product-item__heart--liked .home-product-item__heart-icon-fill {
    display:block;
}

i.home-product-item__heart-icon-fill {
    color: red;
    display: none;
}

.home-product-item__rating {
    color:rgba(0, 0, 0, 0.35);
    font-size:0.8rem;
}

.home-product-item__rating-star-gold {
    color: #FFCE3D;
    
}

.home-product-item__sold {
    color: var(--text-color);
    margin-left: 5px;
}

.home-product-item__origin {
    font-size: 1.2rem;
    font-weight: 200;
    color: rgba(0,0,0,.65);
    text-align: right;
    margin-top: 5px;
    line-height: 14px;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -3px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 4px;
    line-height: 1.4rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favourite::before {
    position: absolute;
    content: "";
    display: block ;
    bottom: -3px;
    left: 0;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
}

.home-product-item__on-sale {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: rgb(255, 216, 57, 0.94);
    font-weight: 400;
    font-size: 1.2rem;
    width: 36px;
    text-align: center;
    padding: 4px 2px 3px;
    text-transform: uppercase;
    line-height: 13px;
}

.home-product-item__on-sale::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    border-width: 0 18px 4px ;
    border-style: solid;
    border-color: transparent rgb(255, 216, 57, 0.94) transparent rgb(255, 216, 57, 0.94);
}

.home-product-item__percent {
    color: var(--primary-color);
}

.home-product-item__label {
    color: var(--white-color);
}


.home-pagination {
    margin: 30px 0 40px;
}
 
/* footer */

.footer {
    background-color: #FBFBFB;
}

.footer-header {
    color:rgba(0, 0, 0, 0.54);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: text;
    margin: 40px 0 20px;
    text-transform: uppercase;
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.footer-item_link {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 400;
}

.footer-item:hover .footer-item_link {
    color: var(--primary-color);
}

.footer-list-2__img {
    width: 80%;
}

.footer-item__icon {
    font-size: 16px;
    color: var(--text-color);
    margin: 0 10px 4px 0;
    position: relative;
    bottom: -1px;
}


.footer-Qr {
    display: flex;
}

.footer_qr-img {
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 15px;
}

.footer_qr-apps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.footer__qr-link {
}

.footer__qr-app {
    height: 16px;
}
