
.header {
    height: 120px;
    background-image: linear-gradient(0, #ff6733, #f53c2e)
}


.navbar__lists{
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.navbar__item {
    margin: 4px 8px;
    position: relative;
}
.navbar__item,
.navbar__links {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 250;
}

.navbar__item:hover,
.navbar__links:hover,
.navbar__icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__item--has-qr:hover .navbar__qr {
    display: block;
}

.navbar__item-has-notify:hover .navbar__notify {
    display: block;
}

.navbar__links {

}

.navbar__item--strong {
    font-weight: 450;
}

.navbar__item--separate::after {
    content: '';
    display: block;
    border-left: 1px solid #f96d5c;
    height: 12px;
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__icon-link {
    color: var(--white-color);
}

.navbar__icon {
    font-size: 1.6rem;
    margin: 0 4px;
}
.navbar__title--text-no {
    color: var(--white-color) !important;
    cursor: text;
}
/* Navbar QR */

.navbar__qr {
    background-color: #fff;
    position: absolute;
    width: 186px;
    top: 160%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.navbar__qr::before {
    content: "";
    display: block;
    width:100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: -10px;
}

.navbar__qr-img {
    width:100%;
 
}

.navbar__qr-link:first-child {
    margin-left: 11px;
}

.navbar__qr-link:nth-child(2) {
    margin-right: 11px;
}

.navbar__qr-app {
    height: 16px;
}

/* Navbar notify */

.navbar__notify{
    width: 404px;
    position: absolute;
    right: 0;
    top: 160%;
    color: #b8b4b4;
    background-color: #fff;
    border: 0.1px solid #b8b4b4;
    transform-origin: 90% top;
    animation: navNotify ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.navbar__notify::before {
    content: "";
    border: 20px solid ;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -32px;
    right: 6px;
}

.navbar__notify::after {
    content: "";
    display: block;
    height: 20px;
    width: 80px;
    position: absolute;
    top: -20px;
    right:0;
}

@keyframes navNotify {
    from {
        opacity:0;
        transform: scale(0);
    }
    to {
        opacity:1;
        transform: scale(1);
    }
}

.navbar__notify-header{
    padding: 10px 12px;
    line-height: 16px;
    font-weight: 400;
    cursor: default;
}

.navbar__notify-list{
    padding: 0;
    list-style: none;
}

.navbar__notify-item{
    background-color: rgba(238, 77, 45, 0.01);
}

.navbar__notify-item:hover {
    background-color: rgb(243, 243, 243);
}

.navbar__notify-link {
    padding: 0 12px;
    display: flex;
    text-decoration: none;
    
}

.navbar__notify-img {
    width: 48px;
    object-fit: contain;
}

.navbar__notify-body{
    margin-left: 10px;
}

.navbar__notify-body-title{
    color: rgb(41, 40, 40);
    font-size: 1.4rem;
    font-weight: 350;
    margin: 10px 0;

}

.navbar__notify-body-decr{
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 10px 0;
}

.navbar__notify-footer {
    text-align: center;
}

.navbar__notify-footer-link {
    text-decoration: none;
    color: var(--text-color);
}

.navbar__notify-footer p {
    margin: 0;
    padding: 8px;
}

/* authen form */

.auth-form {
    padding: 34px 32px;
    width: 500px;  
}

.auth-form__header {
    margin: 0;
}

.auth-form__heading {
    font-size: 2.2rem;
    color: var(--text-color);
    margin: 0;
    font-weight: 400;
}

.auth-form__body {

}

.auth-form__form {
    
}

.auth-form__group {

}

.auth-form__group-input {
    width: 100%;
    height: 40px;
    margin-top: 32px;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 2px 18px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__group-input:focus {
    border: 1px solid #aaa;
}

.auth-form__btn {
    margin-top: 32px;
}

.auth-form__line-or {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.auth-form__line-straight {
    width: 100%;
    height: 0.5px;
    background-color: var(--border-color);
}

.auth-form__line-text {
    padding: 0 16px;
    color: var(--sub-text-color);
    text-transform: uppercase;
    font-size: 1.4rem;
}

.auth-form__socials {
    margin-top: 32px;
}

.btn--with-icon {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form__socials-icon {
    display: inline-block;
    padding-right: 8px;
    font-size: 2.4rem;
}

.auth-form__social-text {
    font-size: 1.4rem;
}

.auth-form__policy {
    margin-top: 32px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.auth-form__policy-text {
    margin: 0;
}

.auth-form__policy-text-link {
    text-decoration: none;
    color: var(--primary-color);
    user-select: none;
}

.auth-form__footer {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 32px;
}

.auth-form__footer-text {
    color: var(--sub-text-color);   
}

.auth-form__footer-switch {
    text-decoration: none;
    color: var(--primary-color);
}
/* login */
.btn--primary-login {
    flex-grow: 1;
}

.auth-form__aside-link {
    font-size: 1.2rem;
    color: #05a;
    text-decoration: none;
    line-height: 3rem;
}


/* header-with-search */

.header-with-search {
    display: flex;
    height: var(--heigh-header-search);
    align-items: center;
}

.header__logo {
    width: 202px;
    padding: 0 46px 0 8px;
    
}

.header__search {
    display: flex;
    flex: 1;
    height: 40px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    align-items: center;
}

.header__search-input {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    padding: 0 14px;
    outline: none;
    border-radius: 3px;
    flex: 1;
    border: none;   
}

.header__search-select {

}

.header-cart {
    width: 174px;
    font-size: 26px;
    text-align: center;
}

.header-cart-link {
    text-decoration: none;
    color: var(--white-color);
}

.header__search-select {
    width: 148px;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.header__search-select::after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 100%;
    top: 100%;
}

.header__search-select:hover .header__search-select-list{
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    padding: 0 15px;
    color: var(--text-color);
    border-left: 1px solid var(--border-color);
    line-height: 28px; 
}

.header__search-select-icon {
    font-size: 1.4rem;
    padding-right: 10px;
    color: #b8b4b4;
}

.header__search-btn {
    outline: none;
    height: 34px;
    width: 60px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    margin: 2px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select-list {
    position: absolute;
    width: calc(100% + 10px);
    background-color: var(--white-color);
    top: calc(100% + 4px);
    right : 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    display: none;
}

.header__search-select-item {
    font-size: 1.4rem;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    color: var(--text-color);
    border-radius: 2px;
    animation: fadeIn ease-in 0.1s;
}

.header__search-select-item:hover {
    background-color: rgb(241, 241, 241);
}


